.product-detail-info-shop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 20px 0;
}
.product-detail-info-shop__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(255, 0, 0, 0.38);
    margin-right: 20px;
}
.product-detail-info-shop-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-detail-info-shop-content__title {
    font-family: Quicksand;
    font-weight: 700;
    color: var(--text-color-1);
    font-size: 1.6rem;
    padding-bottom: 15px;
}
.product-detail-info-shop-content__link {
    display: block;
    margin: 0 20px;
    padding: 6px 0;
    color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.product-detail-info-shop-content__link:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
}
.product-detail-info-shop-body-wapper {
    display: flex;
    align-items: center;
}
.product-detail-info-shop-body-title {
    font-family: Quicksand;
    font-weight: 700;
    color: var(--text-color-1);
    font-size: 1.2rem;
    min-width: 160px;
    padding-left: 30px;
}
.product-detail-info-shop-body-value {
    font-family: Quicksand;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.2rem;
}
.product-detail-info-shop-wapper::after {
    content: "";
    width: 1px;
    height: 70%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.product-detail-item-body-edit__button {
    position: absolute;
    top: -40px;
    right: 40px;
    color: var(--white-color);
    font-family: Quicksand;
    border: var(--text-color-2) solid 1px;
    background-color: var(--text-color-2);
    border-radius: 5px;
    padding: 6px 10px;
    transition: all linear 0.2s;
}
.product-detail-item-body-edit__button-mobile {
    position: absolute;
    top: -40px;
    right: 40px;
    color: var(--white-color);
    font-family: Quicksand;
    border: var(--text-color-2) solid 1px;
    background-color: var(--text-color-2);
    border-radius: 5px;
    padding: 6px 10px;
    transition: all linear 0.2s;
    display: none;
}
.product-detail-item-body-edit__button:hover,
.product-detail-item-body-edit__button-mobile:hover {
    color: var(--text-color-2);
    background-color: var(--white-color);
}
@media only screen and (max-width: 1023px) {
    .product-detail-info-shop-wapper::after {
        display: none;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .product-detail-info-shop-body {
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    .product-detail-item-body-edit__button {
        padding: 0 6px;
        top: -24px;
        right: 0;
    }
}
@media only screen and (max-width: 739px) {
    .product-detail-info-shop__img {
        width: 120px;
        height: 120px;
    }
    .product-detail-info-shop-content__title {
        font-size: 1.2rem;
    }
    .product-detail-info-shop-body-title {
        padding-left: 12px;
    }
    .product-detail-info-shop-wapper {
        padding-bottom: 20px;
    }
    .product-detail-info-shop-wapper {
        flex-direction: column;
    }
    .product-detail-info-shop__img {
        margin-right: 0;
    }
    .product-detail-item-body-edit__button-mobile {
        top: -50px;
        right: 0px;
        display: block;
    }
    .product-detail-info-shop-body-title {
        min-width: 120px;
    }
}
