/* home */
/* header */
.header-top-wapper {
    background-color: var(--primary-color);
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header-top-left {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
}
.header-top-right__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
}
.header-top-left__connect {
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.header-top-right__item {
    padding-left: 12px;
}
.header-top-right__item:first-child {
    padding-left: 0;
}
.header-top-right__item-account {
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.header-top-right__item-account:hover {
    text-decoration: none;
    color: var(--primary-color-hover);
}
.header-top-right__item-notify,
.header-top-right__item-help {
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.header-top-right__item-help:hover {
    text-decoration: none;
    color: var(--primary-color-hover);
}
.header-top-right__item-notify:hover {
    color: var(--primary-color-hover);
    cursor: pointer;
}
.header-top-right__item-accout--img {
    background: url(../img/F1BC3D97-4467-4EFE-AB73-E0DCA3FBFCF6.png) no-repeat;
    background-size: 100%;
    background-position: center center;
    border: #fff solid 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
.header-top-left__your-cart {
    position: relative;
    padding-right: 16px;
}
.header-top-left__your-cart::after {
    content: "";
    height: 18px;
    width: 1px;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.header-top-left__connect-icon-wapper {
    display: flex;
}
.header-top-left__connect-icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
    margin-left: 12px;
    transition: all linear 0.3s;
}
.header-top-left__connect-icon:hover {
    color: #fff;
    background-color: var(--primary-color);
}
.header-top-left__connect-link:hover {
    text-decoration: none;
}
.header-top-right__item-icon {
    margin-right: 8px;
}
.header-mid {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.header-mid-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 30px;
}
.cart-search-wapper {
    display: flex;
    align-items: center;
}
.header-mid-search__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 8px;
}
.header-mid-search__icon {
    color: var(--primary-color);
    cursor: pointer;
    padding: 0 8px;
    font-size: 1.2rem;
}
.header-mid-cart {
    display: block;
    text-align: center;
    position: relative;
}
.header-mid-cart__num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 25%;
    background-color: #fff;
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.header-mid-cart:hover .header-mid-cart__num {
    background-color: var(--primary-color-hover);
    color: var(--white-color);
}
.header-mid-cart__icon {
    font-size: 1.6rem;
    color: var(--white-color);
}
.header-mid-cart:hover .header-mid-cart__icon {
    color: var(--primary-color-hover);
    cursor: pointer;
}
.header-mid-cart__content {
    width: 500px;
    min-height: 50vh;
    overflow-x: auto;
    background-color: var(--white-color);
}
.home-main-header__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
    padding: 25px 0;
}
.menu-mobile-icon {
    font-size: 1.6rem;
    color: var(--primary-color);
}
.menu-mobile {
    width: 100%;
    background-color: var(--primary-color);
    display: none;
}
#checkbox-mobile-menu:checked ~ .menu-mobile {
    display: block;
}
.menu-mobile-icon__wapper {
    display: none;
    padding: 8px 15px;
}
.header-mid-cart__icon-mobile {
    font-size: 1.6rem;
    color: var(--primary-color);
}
.menu-mobile__list {
    list-style: none;
    padding-left: 0;
}
.home-main-header__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-1);
    font-size: 1.2rem;
}
.home-main-header__link:hover {
    color: var(--text-color-2);
    text-decoration: none;
}
.home-main-header__link:hover .home-main-header__link-icon {   
    --growth-from: 0.5;
    --growth-to: 1;
    animation: growth linear 0.5s;
}
.home-main-header__link-icon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main-header__link-text {
    padding-top: 6px;
    font-family: "Quicksand", sans-serif;
}
.home-main-header__link-img {
    width: 30px;
    height: 30px;
}
.home-main-header-panel {
    height: 100%;
    display: flex;
    margin-bottom: 50px;
}
.home-main-header-panel__left {
    display: block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 100%;
}
.home-main-header-panel__left-img {
    width: 100%;
    height: 100%;
}
.home-main-header-panel__right-top,
.home-main-header-panel__right-bottom {
    display: block;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 200px;
}
.home-main-header-panel__right-top {
    margin-bottom: 10px;
}
.home-main-header-panel__right-top--img,
.home-main-header-panel__right-bottom--img {
    width: 100%;
    height: 100%;
}
.header-mid-logo__img {
    width: 100%;
}
/* header */
/* main */
.main {
    padding-bottom: 80px;
}
/* product-list */
.product-list-title {
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}
.product-list-title::before {
    content: "";
    width: 200px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 210px;
    background-color: var(--primary-color);
}
.product-list-title::after {
    content: "";
    width: 200px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 210px;
    background-color: var(--primary-color);
}
.product-list-content__link-wapper {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-list-content__link-img {
    width: 80%;
    height: 80%;
}
.product-list-content__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-1);
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding-top: 15px;
}
.product-list-content__link:hover {
    color: var(--text-color-2);
    text-decoration: none;
}
.product-list-content__item {
    width: 200px;
}
.product-list-content__list-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding: 20px 0;
    border-top: #eee solid 1.5px;
    flex-wrap: wrap;
}
.product-list-content__link:hover .product-list-content__link-wapper {   
    --growth-from: 0.5;
    --growth-to: 1;
    animation: growth linear 0.5s;
}
.product-list-panel {
    padding-bottom: 60px;
    display: block;
}
.product-list-panel__img {
    width: 100%;
}
/* product-list */
/* product-highlight */
.product-list-content-item {
    background-color: var(--white-color);
    padding: 20px 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    transition: transform linear 0.1s;
    will-change: transform;
}
.product-list-content-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
}
.product-list-wapper {
    background-color: #eee;
    padding-top: 40px;
}
.product-list-content-item__top {
    display: block;
    padding-bottom: 20px;
}
.product-list-content-item__top--img {
    width: 100%;
    height: 170px;
}
.product-list-content-item__bottom-price-old {
    text-decoration: line-through; 
    color: var(--text-color-2);
    font-size: 0.8rem;
    padding-right: 4px;
    line-height: 1rem
}
.product-list-content-item__bottom-price {
    height: 2rem;
}
.product-list-content-item__bottom-title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-color-1);
}
.product-list-content-item__bottom-title:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.product-list-content-item__bottom-price-new {
    color: var(--primary-color);
    font-size: 0.9rem;
    line-height: 1rem
}
.product-list-content-item__bottom-price-wapper {
    display: flex;
}
.product-list-content-item__bottom-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-list-content-item__shipping {
    width: 20px;
    height: 20px;
    float: right;
    line-height: 1.5rem;
}
.rated {
    color: rgb(255,193,7);
}
.product-list-content-item__bottom-rate--star-icon,
.product-detail-same-item__rate-star-icon {
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.product-list-content-item__bottom-rate--sold {
    font-size: 0.8rem;
    color: var(--text-color-1);
    padding-left: 6px;
}
.product-list-content-item__bottom-rate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.product-list-content-item__bottom-city {
    color: var(--text-color-2);
    font-size: 0.8rem;
    text-align: right;
}
.product-highlight__button-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}
.product-highlight__button-link {
    color: var(--text-color-2);
    display: block;
    padding: 2px 10px;
}
.product-highlight__button-link:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white-color);
}
.product-highlight__button-item {
    padding: 0 12px;
}
.product-highlight__button-item-active {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--white-color);
}
.product-highlight__img {
    width: 100%;
}
/* main */
/* footer */
.footer {
    background-color: var(--primary-color);
    padding: 40px 0;
}
.footer-top {
    display: flex;
    align-items: center;
}
.footer-top__img {
    width: 80%;
}
.footer-top__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--white-color);
}
.chili-about-us__wapper {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.chili-about-us__wapper:hover {
    text-decoration: none;
}
.chili-about-us__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--white-color);
    padding-left: 12px;
    transition: all linear 0.3s;
}
.chili-about-us__wapper:hover .chili-about-us__text {
    color: var(--primary-color-hover);
}
.chili-about-us-icon  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: var(--primary-color);
    margin-left: 12px;
    transition: all linear 0.3s;
}
.chili-about-us__wapper:hover .chili-about-us-icon {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}
.footer-top__title {
    height: 100px;
    display: flex;
    align-items: center;
}
.chili-contact__wapper {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.chili-contact__img {
    width: 20px;
    height: 20px;
}
.chili-contact__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--white-color);
    padding-left: 12px;
}
/* footer */
/* home */
/* login */
.title-link-wapper {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
}
.title-link {
    padding: 6px 12px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    min-width: 125px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
.title-link:hover {
    color: var(--primary-color-hover);
    text-decoration: none;
}
.title-link-text {
    padding-right: 8px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-title {
    font-size: 2rem;
    color: var(--primary-color);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}
.login-id {
    width: 100%;
    border-radius: 35px;
    border: solid 1px #cccccc;
    padding: 12px 16px;
    margin: 10px 0;
}
.login-input {
    width: 100%;
    border: none;
    outline: none;
}
.login-button {
    width: 100%;
    padding: 8px 12px;
    border: var(--primary-color);
    border-radius: 35px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.login-button:hover {
    background-color: var(--primary-color-hover);
}
.login-forgot-pass {
    display: block;
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    text-align: center;
    font-size: 1.2rem;
}
.forgot-pass:hover {
    color: var(--primary-color);
}
.login-with,
.login-register { 
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #333333;
    font-weight: 500;
    font-size: 1.2rem;
}
.login-register-link {
    color: #333;
    text-decoration: underline;
}
.login-register-link:hover {
    color: var(--primary-color);
}
.login-with {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}
.login-with-link {
    color: var(--white-color);
    margin-left: 16px;
}
.login-with-link:hover {
    text-decoration: none;
    color: var(--white-color);
}
.login-with-icon-f {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #405c9d;    
    border-radius: 50%;
}
.login-with-icon-g {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #d44735;    
    border-radius: 50%;
}
.forgot-pass-req {
    text-align: center;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 20px 0;
}
.forgot-pass-send-again {
    font-family: "Quicksand", sans-serif;
    color: #333;
    font-weight: 500;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
/* login */
/* contact */
.contact-panel__img {
    width: 100%;
}
.contact-content {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-1);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 20px;
}
.contact-content__wapper {
    display: flex;
    align-items: center;
}
.contact-content__img {
    font-size: 1.2rem;
    margin-right: 6px;
    color: var(--text-color-1);
}
.introduce-text p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.introduce__wapper {
    display: flex;
    align-items: center;
}
.introduce__img {
    font-size: 1.2rem;
    margin-right: 6px;
    color: var(--primary-color);
}
.introduce__text {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.personal-info-panel {
    width: 100%;
    max-height: 400px;
}
/* personal-info */
.personal-info-content {
    display: flex;
    padding: 80px 0;
}
.personal-info-left {
    text-align: center;
}
.personal-info-left__img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.personal-info-left__choose-img {
    border: none;
    outline: none;
    color: #a4a2a2;
    background-color: transparent;
    font-size: 1.2rem;
}
.personal-info-left__choose-img--icon {
    padding: 8px;
    border-radius: 50%;
    border: #a4a4a4 solid 1px;
}
.personal-info-body {
    padding: 0 80px;
}
.personal-info-body__name {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
}
.personal-info-body__edit {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #a4a2a2;
    padding: 8px 0;
}
.personal-info-body__wapper {
    font-family: "Quicksand", sans-serif;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 12px;
}
.personal-info-body__title {
    font-weight: 700;
}
/* news */
.news-item {
    padding-bottom: 40px;
}
.news-item-left__img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: transform linear 0.2s;
    will-change: transform;
}
.news-item-left__img:hover {
    transform: scale(1.2);
}
.news-item {
    display: flex;
}
.news-item-body {
    padding-left: 24px;
}
.news-item-body__title {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color-1);
    font-weight: 700;
    font-size: 1.8rem;
    display: block;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 800px;
}
.news-item-body__title:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.news-item-body__tags {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color-1);
    font-size: 1.2rem;
    display: block
}
.news-item-body__tags:hover {
    color: var(--text-color-1);
}
.news-item-body__time {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color-2);
    padding-top: 24px;
}
/* news */
/* news-detail */
.news-detail-title {
    font-family: "Quicksand", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color-1);
}
.news-detail-time {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    color: var(--text-color-2);
}
.news-detail-body__wapper {
    padding: 12px 0;
}
.news-detail-body__img {
    width: 80%;
    max-height: 300px;
}
.news-detail-body {
    padding: 20px 0;
}
.news-detail-body p {
    color: var(--text-color-1);
}
.news-detail-same__title {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    background-color: #eee;
    padding: 6px 24px;
    font-size: 1.4rem;
}
.new-detail-same__wapper {
    padding: 24px;
}
/* news-detail */
/* cart */
.cart {
    padding-top: 40px;
}
.cart-item-title {
    padding-bottom: 12px;
}
.cart-item {
    font-family: "Roboto", sans-serif;
    display: flex;
    padding: 12px 0;
    border-bottom: #ccc solid 1px;
    position: relative;
}
.cart-item-action__delete {
    position: absolute;
    top: 0;
    right: 0;
}
.cart-item-amount-body {
    display: flex;
    justify-content: center;
}
.cart-item-amount-body__button {
    width: 20px;
    height: 20px;
    color: #ccc;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-item-amount-body__button:hover {
    color: var(--primary-color);
}
.cart-item-amount-body__input {
    width: 40px;
    height: 20px;
    border: none;
    outline: none;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
    text-align: center;
}
.cart-item-body {
    display: flex;
}
.cart-item__img {
    width: 100px;
    height: 100px;
}
.cart-item-body__title {
    display: block;
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: 12px;
}
.cart-item-body__title:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.cart-item-price-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cart-item-price-body__old {
    color: var(--text-color-2);
    text-decoration: line-through;
    padding-right: 6px;
}
.cart-item-pay-body {
    color: var(--primary-color);
    font-size: 1.2rem;
}
.cart-item-action-body__button {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color-2);
}
.cart-body-wapper {
    display: flex;
}
.cart-item-action__delete button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}
.cart-item-action__delete {
    display: none;
}
.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    padding: 30px 10px;
    flex-wrap: wrap;
}
.cart-total-price {
    display: flex;
}
.cart-total-title {
    color: var(--text-color-1);
}
.cart-total-num {
    color: var(--primary-color);
    padding: 0 6px;
}
.cart-total-button {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    border-radius: 38px;
    padding: 4px 36px;
}
.cart-total-button:hover {
    background-color: var(--primary-color-hover);
}
.cart-item-action-body__button:hover {
    color: red;
}
/* cart */
/* order-sucess */
.order-success {
    padding: 50px 0;
}
.order-success-title {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    padding: 8px 20px;
    font-size: 1.4rem;
    background-color: #e3e0e0;
    font-weight: 500;
}
.order-success-shop-title-wapper {
    background-color: #e3e0e0;
    padding: 8px 20px;
}
.order-success-shop-title {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.order-success-payment-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0;
    padding-right: 20px;
    border-bottom: #ccc solid 1px;
}
.order-success-payment-item__title{
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-size: 1.2rem;
}
.order-success-payment-item__value {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    min-width: 250px;
    font-size: 1.2rem;
    text-align: right;
}
.order-success-payment-item__value-total {
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    min-width: 274px;
    text-align: right;
}
.order-success-shop-title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.order-success-shop-title:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.order-success-top {
    display: flex;
    padding-top: 20px;
}
.order-success-top__img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.order-success-top-body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    max-width: 600px;
    padding-left: 16px;
}
.order-success-item {
    padding-bottom: 20px;
}
.order-success-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.order-success-top-body__title {
    display: block;
    color: var(--text-color-1);
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    max-width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
}
.order-success-top-body__title:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.bill-detail-bottom-button button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 20px;
    outline: none;
    border: var(--primary-color) solid 1px;
    border-radius: 5px;
    transition: all linear 0.3s;
}
.bill-detail-bottom-button button:hover {
    background-color: var(--white-color);
    color:var(--primary-color);
}
.bill-detail-top-body__title {
    display: inline-block;
    color: var(--text-color-1);
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    max-width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 20px;
}
.bill-detail-top-body__title:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.order-success-item-content--price-old {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    text-decoration: line-through;
}
.order-success-item-content--price-new {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    padding-left: 8px;
}
.order-success-bottom {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-size: 1.2rem;
    padding-top: 16px;
}
.bill-detail-bottom {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-size: 1.2rem;
    padding-top: 16px;
    padding-left: 20px;
}
.order-success-bottom__price {
    color: var(--primary-color);
    font-weight: 700;
}
.order-success-bottom-wapper {
    display: flex;
}
.order-success-bottom__title {
    font-weight: 700;
    min-width: 200px;
}
.order-success-bottom-change-pay {
    font-size: 1rem;
}
.order-success-img {
    width: 100%;
    max-height: 300px;
    max-height: 400px;
}
/* order-sucess */
/* product-detail */
.list-product-slide-view {
    display: flex;
}
.product-slide__view-img {
    width: 80%;
    height: 450px;
    border: solid 1px #cccccc;
}
.product-slide-item__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    max-width: 100%;
    transition: all linear 0.3s;
}
.product-slide-item__list::-webkit-scrollbar {
    display: none;
}
.product-slide-item__item {
    flex-shrink: 1;
    margin-right: 8px;
    border: solid 1px #cccccc;
    transition: transform linear 0.1s;
    will-change: transform;
}
.product-slide-item__item:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
}
.card {
    height: 150px;
}
.slide-img {   
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/* product-detai */
.product-detail-item {
    display: flex;
}
.product-detail-same-item-wapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.product-detail-item-body {
    padding: 0 40px;
}
.product-detail-item-body__rate-wapper {
    display: flex;
    color: var(--text-color-2);
}
.product-detail-item-body__title {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.6rem;
}
.product-detail-item-body__title:hover {
    color: var(--primary-color-hover);
    text-decoration: none;
}
.product-detail-item-body__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}
.rated {
    color: #ffc107;
}
.product-detail-item-body__price {
    display: flex;
    background-color: #eeeeee;
    padding: 4px 16px;
    align-items: center;
}
.product-detail-item-body__price-old {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding-right: 12px;
    text-decoration: line-through;
}
.product-detail-item-body__price-new {
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color);
    font-weight: bold;
    padding-right: 12px;
}
.product-detail-item-body__price-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../img/F0DFD2B4-AB0B-4EC3-B758-4E3C9F6CA06B.svg) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    color: var(--white-color);
    font-size: 0.8rem;
}
.product-detail-item-body__transport-img {
    width: 20px;
    height: 20px;
}
.product-detail-item-body__transport {
    display: flex;
    align-items: flex-start;
    color: var(--text-color-2);
    padding-top: 20px;
}
.product-detail-item-body__transport-content-1 {
    display: flex;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    padding-bottom: 20px;
}
.product-detail-item-body__transport-content--text-1 {
    display: flex;
    align-items: flex-start;
    font-size: 0.8rem;
}
.product-detail-item-body__size-button {  
    border-radius: 5px;
    border: solid 1px #cccccc;
    background-color: var(--white-color);
    width: 40px;
    font-family: "Roboto", sans-serif;
}
.product-detail-item-body__size-button:hover {
    color: var(--primary-color);
    border: var(--primary-color) solid 1px;
}
.product-detail-same-item__top {
    padding-top: 20px;
    display: block;
    text-align: center;
}
.product-detail-same-item__rate {
    font-size: 0.8rem;
}
.product-detail-item-body__size-button--active {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}
.product-detail-same-item__img {
    width: 80%;
    height: 180px;
}
.product-detail-same-item__sale {
    padding-top: 6px;
    width: 50px;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.product-detail-same-item__sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    border-width: 0 25px 26px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent var(--primary-color);
}
.product-detail-item-body__size {
    display: flex;
    padding-bottom: 20px;
}
.product-detail-item-body__transport-title {
    color: var(--text-color-2);
    min-width: 250px;
}
.product-detail-item-body__num {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.product-detail-item-body__button {
    padding-top: 20px;
}
.product-detail-item-body__button-cart {
    background-color: var(--white-color);
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 30px;
    width: 210px;
    transition: all linear 0.3s;
    margin-right: 16px;
}
.product-detail-item-body__button {
    display: flex;
}
.product-detail-item-body__button-cart:hover {
    background-color: var(--primary-color);
    border: var(--white-color) solid 1px;
    color: var(--white-color);
    border-radius: 10px;
}
.product-detail-item-body__button-buy {
    background-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    color: var(--white-color);
    padding: 8px 20px;
    border-radius: 30px;
    width: 210px;
    transition: all linear 0.3s;
}
.product-detail-item-body__button-buy:hover {
    background-color: var(--white-color);
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
    border-radius: 10px;
}
.product-detail-info__title {
    background-color: #eee;
    color: var(--text-color-1);
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    padding: 6px 16px;
    margin: 35px 0 20px 0;
}
.product-detail-info__content {
    padding: 12px 16px;
}
.product-detail-info__content p {
    color: var(--text-color-1);
}
.product-detail-vote-choose {
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
    border: var(--primary-color) solid 1px;
    display: flex;
    align-items: center;
}
.product-detail-vote-choose__left-title {
    font-family: 500;
    color: var(--text-color-1);
    font-size: 1.6rem;
}
.product-detail-vote-choose__left-text {
    color: var(--text-color-2);
}
.product-detail-vote-choose__list-button {
    min-width: 100px;
}
.product-detail-vote-choose__list-button:hover {
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
}
.product-detail-vote-choose__list-button {
    background-color: var(--white-color);
    border: #ccc solid 1px;
    color: var(--text-color-2);
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: 12px;
    margin-bottom: 8px;
}
.product-detail-item-body__rate-star-icon,
.product-detail-review-item__body-rate-star-icon,
.product-detail-same-item__rate-star-icon {
    cursor: pointer;
}
.product-detail-vote-choose__list-button-active {
    border: var(--primary-color) solid 1px;
    color: var(--primary-color);
}
.product-detail-review-item__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.product-detail-review-item {
    display: flex;
    padding: 16px 0;
    border-bottom: #eee solid 1px;
    padding-left: 30px;
}
.product-detail-review-item__body {
    padding-left: 20px;
}
.product-detail-review-item__body-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text-color-1);
}
.product-detail-review-item__body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    color: var(--text-color-2);
}
.product-detail-review-item__body-time {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--text-color-2);
}
.product-detail-same {
    padding-top: 60px;
}
.product-detail-same-wapper {
    background-color: #eee;
    padding: 20px 40px;
}
.product-detail-same-item {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 12px;
    position: relative;
    transition: transform linear 0.1s;
    will-change: transform;
}
.product-detail-same-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
}
.product-detail-same-item__body-price {
    display: flex;
}
.product-detail-same-item__body-price-old {
    color: var(--text-color-2);
    font-size: 0.7rem;
    text-decoration: line-through;
    padding-right: 4px;
}
.product-detail-same-item__title {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.product-detail-same-item__body {
    padding-top: 12px;
    font-size: 0.8rem;
}
.product-detail-same-item__body-title {
    color: var(--text-color-1);
    font-family: "Roboto", sans-serif;
    line-height: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.product-detail-same-item__body-title:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.product-detail-same-item__body-price-new {
    color: var(--primary-color);
}
.product-detail-same-item__rate {
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
}
.product-detail-same-item__city {
    color: var(--text-color-2);
    text-align: right;
}
.product-detail-item-body__rate-cmt {
    padding-right: 12px;
}
/* menu */
.menu-panel {
    margin-bottom: 50px;
}
.menu-panel-img {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
}
.menu-top-product__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    max-width: 100%;
    overflow: auto;
}
.menu-top-product__list::-webkit-scrollbar {
    display: none;
}
.menu-top-product__item {
    width: 200px;
    height: 260px;
    margin-left: 20px;
    text-align: center;
    flex-shrink: 0;
}
.menu-top-product__link {
    display: block;
}
.menu-top-product__link:hover {
    text-decoration: none;
}
.menu-top-product__link:hover .menu-top-product__link-title {
    color: var(--primary-color);
}
.menu-top-product__img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.menu-top-product__link-title {
    font-size: 1.2rem;
    color: var(--text-color-1);
    font-family: "Roboto", sans-serif;
    padding-top: 12px;
    text-align: center;
}
.menu-body {
    background-color: #eee;
    display: flex;
    padding: 15px 0 30px 20px;
}
.menu-body-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 4px 0;
    border-bottom: #ccc solid 1px;
}
.menu-body-menu-header__img {
    width: 20px;
    height: 20px;
}
.menu-body-menu-header__title {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-weight: 700;
}
.menu-body-menu__item {
    margin-top: 12px;
}
.menu-body-menu__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-body-menu__link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--text-color-1);
}
.menu-body-menu__link:hover {
    background-color: #ccc;
    text-decoration: none;
    color: var(--text-color-1);
}
.menu-body-content-header {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    padding: 6px 16px 6px 24px;
}
.menu-body-content-header__filter,
.menu-body-content-header__arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-body-content-header__button {
    background-color: var(--white-color);
    color: var(--text-color-1);
    border: var(--white-color) solid 1px;
    border-radius: 5px;
    width: 100px;
    padding: 4px 10px;
    margin-right: 12px;
    font-family: "Roboto", sans-serif;
    transition: all linear 0.3s;
}
.menu-body-content-header__button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.selected {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.menu-body-content-header__title {
    padding-right: 24px;
}
.menu-body-content-select {
    border: none;
    border-radius: 5px;
    padding: 6.5px 12px;
    width: 220px;
    outline: none;
    font-family: "Roboto", sans-serif;
    transition: all linear 0.3s;
}
.menu-body-content-select:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.menu-body-content-header__arrow-button {
    background-color: var(--white-color);
    color: var(--text-color-1);
    border: var(--white-color) solid 1px;
    font-family: "Roboto", sans-serif;
}
.menu-body-content-header__arrow-button-selected {
    background-color: #eee;
    border: none;
}
.menu-body-content-header__arrow-button:hover {
    background-color: #eee;
    border: none;
}
.menu-body-content-header__arrow-icon {
    font-size: 0.6rem;
    padding: 0 4px;
}
.page-selected {
    color: var(--primary-color);
}
.menu-body-content {
    margin-bottom: 30px;
}
.menu-body-content-body {
    display: flex;
    flex-wrap: wrap;
}
.menu-body-menu-mobile__list {
    display: flex;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-body-menu-mobile__list::-webkit-scrollbar {
    display: none;
}
.menu-body-menu-mobile__item {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    background-color: #dedede;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.menu-body-menu-mobile__link {
    display: block;
    color: var(--text-color-1);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2rem;
}
.menu-body-menu-mobile__link:hover {
    color: var(--text-color-1);
    text-decoration: none;
}
.menu-body-menu-mobile__list {
    display: none;
}
/* menu */
.seacrch-key-title {
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.seacrch-key-title__icon {
    width: 40px;
    height: 50px;
    margin: 0 16px;
}
.seacrch-key-title__text {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #7e7e7e;
}
.key {
    color: var(--primary-color);
}
.seacrch-key-content-body {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}
.product-detail-same-item__rate-text {
    padding-left: 6px;
}
/* history */
.history {
    padding-top: 60px;
}
.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.history-body {
    padding: 20px 0 30px 0;
}
.history-header-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.history-header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: var(--primary-color) solid 1px;
    border-radius: 30px;
}
.history-header-search__input {
    width: 100%;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--text-color-2);
}
.history-header-search__icon {
    padding: 6px 12px;
    color: var(--primary-color);
}
.history-table {
    width: 100%;
    border: var(--primary-color) solid 1px;
}
.history-table-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    border-bottom: var(--primary-color) solid 1px;
    text-transform: uppercase;
    padding: 8px 4px;
}
.history-table-tr {
    text-align: center;
    border-bottom: var(--text-color-2) solid 1px;
}
.history-table-tr:last-child {
    border: none;
}
.history-table-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--text-color-1);
    padding: 8px 4px;
}
.history-mobile-item-wapper {
    display: flex;
    justify-content: space-between;
}
.history-mobile-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 8px;
}
.history-mobile-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--text-color-1);
    padding-top: 8px;
}
.history-mobile-detail {
    text-align: right;
}
.history-mobile-item {
    border-bottom: #ccc solid 1px;
    margin-bottom: 20px;
}
.accordion {
    cursor: pointer;
    border: none;
    transform: 0.4s;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-right: 8px;
}
.accordion:hover {
    color: var(--primary-color); 
}
.panel {
    max-height: 0;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.history-table-status-wait {
    color: #e597a4;
}
.history-mobile {
    display: none;
}
.history-bill-header {
    display: flex;
    justify-content: flex-end;
}
/* history */
/* payment */
.payment {
    padding-top: 50px;
}
.payment-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dddddd;
    padding: 12px;
    margin-bottom: 30px;
}
.payment-address-content__title {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #333;
}
.payment-address-content__text {
    font-family: "Roboto", sans-serif;
    color: #a4a2a2;
}
.payment-address-button {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    border: none;
    background-color: transparent;
    outline: none;
    color: #489a30;
}
.payment-item-wapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 30px 0;
    border-bottom: #ccc solid 1px;
}
.payment-item-content {
    display: flex;
}
.payment-item {
    padding: 6px 12px;
}
.payment-item-title {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
    font-weight: 500;
    font-size: 1.2rem;
}
.payment-item-img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.payment-item-content-body {
    padding-left: 24px;
    max-width: 400px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
}
.payment-item-content-body__title {
    display: block;
    color: var(--text-color-1);
    font-size: 1.6rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.payment-item-content-body__title:hover {
    color: var(--primary-color);
    text-decoration: none;
}
.payment-item-info {
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
}
.payment-item-info-wapper {
    padding: 0 12px;
    text-align: center;
    width: 150px;
}
.payment-item-info {
    display: flex;
}
.payment-item-info-title {
    padding: 8px 0;
}
.payment-item-info-total {
    font-weight: 700;
    color: var(--primary-color);
}
.payment-detail-content {
    max-width: 500px;
    width: 50%;
    float: right;
    font-family: "Roboto", sans-serif;
    color: var(--text-color-1);
}
.payment-detail-content-wapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.payment-detail-content-price {
    color: var(--primary-color);
}
.payment-detail-button {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    border-radius: 30px;
    padding: 6px 12px;
    width: 50%;
    margin: 30px 0;
}
.payment-detail-button:hover {
    background-color: var(--primary-color-hover);
}
.payment-detail {
    margin-top: 20px;
}
/* payment */
/* post-product */
/* select */
.post-product-title {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: capitalize;
}
.menu-product-select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.menu-product-select-box .menu-product-options-container {
    border-radius: 5px;
    border: solid 1px var(--primary-color);
    background-color: #ffffff;
    width: 100%;
    max-height: 45vh;
    overflow-y: scroll;
    position: absolute;
    top: 65px;
    display: none;
    animation: fadeIn linear 0.4s;
    z-index: 5;
    padding-top: 40px;
}

.menu-product-selected {
    border: solid 1px #ffffff;
    background-color: #eeeeee;
    padding: 16px 24px;
    color: var(--text-color-1);
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1,2rem;
    text-transform: capitalize;
    font-style: italic;
}

.menu-product-selected::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid var(--primary-color);
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.4s;
    z-index: 1;
}

.menu-product-select-box .menu-product-options-container.active {
    display: block;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
}

.menu-product-select-box .menu-product-options-container::-webkit-scrollbar {
    display: none;
}
.menu-product-select-box .menu-product-options,
.menu-product-selected {
    padding: 16px 24px;
    cursor: pointer;
}

.menu-product-select-box .menu-product-options:hover {
    background-color: #eee;
    color: var(--text-color-1);
}

.menu-product-select-box label {
    cursor: pointer;
}
.menu-product-options-label {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color-1);
    font-weight: 500;
    text-transform: capitalize;
}
.menu-product-search-box input::placeholder {
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    color: var(--text-color);
}
.menu-product-search-box input {
    width: 100%;
    padding: 12px 20px;
    font-family: "Quicksand", "sans-serif";
    font-weight: 500;
    position: absolute;
    z-index: 100;
    border-top: var(--primary-color) solid 1px;
    border-right: var(--primary-color) solid 1px;
    border-left: var(--primary-color) solid 1px;
    border-bottom: none;
    color: var(--text-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    background-color: #eee;
}
  
.menu-product-search-box input:focus {
    outline: none;
}

.menu-product-select-box .menu-product-options-container.active ~ .menu-product-search-box input {
    opacity: 1;
    pointer-events: auto;   
}
.post-product-item__input {
    width: 100%;
    padding: 16px 24px;
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #eee;
}
.post-product-item__input::placeholder {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color: var(--text-color);
    font-style: italic;
}
.post-product-item {
    display: flex;
}
.post-product-item-intro__text-area {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color: var(--text-color);outline: none;
    background-color: #eee;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 16px 24px;
}
.post-product-item-address-select {
    display: flex;
    flex-wrap: wrap;
}
/* post-product */
.order-success-content {
    padding-bottom: 20px;
}
.order-progress-code {
    font-family: "Roboto", "sans-serif";
    color: var(--text-color-1);
    font-weight: 500;
    font-size: 1.2rem;
}
.order-progress {
    padding: 20px 0;
    border-bottom: #ccc solid 2px;
    margin-bottom: 40px;
}
.your-products {
    padding-top: 40px;
}
/* notify */
.notify-date-wapper {
    padding: 20px 0;
    border-bottom: #ccc solid 1px;
}
.notify-title {
    font-family: "Roboto", "sans-serif";
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}
.notify-date {
    display: flex;
    justify-content: flex-end;
}
.notify-date-from-to {
    padding: 0 15px;
}
.notify-date-from-to__input {
    border-radius: 10px;
    background-color: #eeeeee;
    border: none;
    outline: none;
    padding: 8px 12px;
}
.notify-date-button button {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
    width: 180px;
    border: var(--primary-color) solid 1px;
    transition: all linear 0.3s;
}
.notify-date-button button:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: var(--primary-color) solid 1px;
}
.notify-date-show-page {
    color: var(--text-color-1);
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    padding: 20px 0;
}
.select-show-page {
    color: var(--text-color-2);
    width: 50px;
    padding: 4px 8px;
}
.notify-mobile {
    display: none;
}
.notify-table {
    width: 100%;
}
.notify-table-title {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.2rem;
    border: #ccc solid 1px;
    padding: 6px 8px;
}
.notify-table-text {
    font-family: "Roboto", "sans-serif";
    color: var(--text-color-1);
    border: #ccc solid 1px;
    padding: 6px 0 6px 4px;
    font-size: 1.2rem;
    max-width: 280px;
    line-height: 1.2rem;
}
.notify-table-code,
.notify-table-day,
.notify-table-price,
.notify-table-num, 
.notify-table-total {
    text-align: center;
    padding-left: 0;
}
.notify-mobile-item-wapper {
    display: flex;
    justify-content: space-between;
}
.notify-mobile-title {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color:var(--text-color-1);
}
.notify-mobile-text {
    font-family: "Roboto", "sans-serif";
    color:var(--text-color-1);
    padding: 6px 0;
}
.notify-mobile-name {
    max-width: 150px;
    line-height: 1.2rem;
    height: 2.7rem;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.notify-mobile-detail {
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}
.notify-date-from-to {
    display: flex;
    align-items: center;
}
.notify-date-from-to__text {
    min-width: 80px;
}
/* notify */